# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete*
.DS_Store
Best XOJO IDE STYLES MASTER THEMES SYNTAX COLOR (pour changer la couleur du fond de l'éditeur)
Backups Sources/
A propos de type de Sauvegarde XOjo A LIRE MICHEL.rtfd/
external/.DS_Store
